<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Products</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category %></td>
        <td><%= category.products.count %></td>
        <td>
          <%= link_to 'Show', category, class: "badge badge-primary" %>
          <%= link_to 'Edit', edit_category_path(category), class: "badge badge-success" %>
          <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "badge badge-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
